*{
    box-sizing: border-box;
}
:root{
    --text: #464646;
    --background: #efefef;
    --radius: 10px;
    --border: 3px solid var(--text)
}

body{
    height: 100hv;
    width: 100wv;
    

}

header{
    font-size: 2rem;
    margin-left: 60px;
    margin-top: 40px;
}
main{
    display:grid;
    grid-template-columns:500px auto;
    gap:40px
}
.formDiv{
    margin-left: 40px;
    font-size: 1.2rem;
    
}

form{
    border:0
}
fieldset{
    border-radius: var(--radius);
    height: 300px;
}

fieldset p{
    font-size: 1.2rem;
    font-weight: bold;
}

.formRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width:100%
}

input{
    border-radius: var(--radius);
    width: 250px;
    height:30px;
    
}

input[type="checkbox"]{
    
    height: 30px;
    
    
}

input[type="submit"]{
    height:40px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}


#container{
    display:flex;
    gap:40px;
    flex-wrap: wrap;
    
    
    max-width: auto;

    

}
.bookCard{
    width:400px;
    height:300px;
    border:var(--border);
    border-radius: var(--radius);
    font-size: 1.2rem;
    padding: 40px;
    background-color: var(--background);
    font-weight: bold;
}

.delBtn{
    position: fixed;
    margin-left: 200px;
    margin-top: -20px;
}

.delBtn, .btn{
    border-radius: var(--radius);
    height: 30px;
    width: 130px;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid var(--text);
}